# Descriptive Statistics Assignment

In [1]:
import pandas as pd
import statistics
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

data_url = "https://docs.google.com/spreadsheets/d/1w1BfAGjEJk_Ywglo0nWKUk5gKmqEmfFb101IoXtj8D8/export?format=csv"

### Read the Fortune 1000 data (using `data_url`) into a Pandas data frame.

In [8]:
df = pd.read_csv(data_url)
df.head()
# sns.distplot(df['Latitude'])

,rank,title,Previous Rank,Revenues ($M),Revenue Change,Profits ($M),Profit Change,Assets ($M),Mkt Value as of 3/29/18 ($M),Employees,CEO,CEO Title,Sector,Industry,Years on Fortune 500 List,City,State,Latitude,Longitude
0,1,Walmart,1,"$500,343",3.00%,"$9,862.00",-27.70%,"$204,522","$263,563","2,300,000",C. Douglas McMillon,"President, Chief Executive Officer & Director",Retailing,General Merchandisers,24,Bentonville,AR,36.372854,-94.208817
1,2,Exxon Mobil,4,"$244,363",17.40%,"$19,710.00",151.40%,"$348,691","$316,157","71,200",Darren W. Woods,Chairman & Chief Executive Officer,Energy,Petroleum Refining,24,Irving,TX,32.814018,-96.948894
2,3,Berkshire Hathaway,2,"$242,137",8.30%,"$44,940.00",86.70%,"$702,095","$492,008","377,000",Warren E. Buffett,"Chairman, President & Chief Executive Officer",Financials,Insurance: Property and Casualty (Stock),24,Omaha,NE,41.256537,-95.934503
3,4,Apple,3,"$229,234",6.30%,"$48,351.00",5.80%,"$375,319","$851,318","123,000",Timothy D. Cook,Chairman & Chief Executive Officer,Technology,"Computers, Office Equipment",24,Cupertino,CA,37.322998,-122.032182
4,5,UnitedHealth Group,6,"$201,159",8.80%,"$10,558.00",50.50%,"$139,058","$207,080","260,000",David S. Wichmann,Chairman & Chief Executive Officer,Health Care,Health Care: Insurance and Managed Care,24,Minnetonka,MN,44.921184,-93.468749

### Print the data type for each column.

In [3]:
df.dtypes

rank                              int64
title                            object
Previous Rank                    object
Revenues ($M)                    object
Revenue Change                   object
Profits ($M)                     object
Profit Change                    object
Assets ($M)                      object
Mkt Value as of 3/29/18 ($M)     object
Employees                        object
CEO                              object
CEO Title                        object
Sector                           object
Industry                         object
Years on Fortune 500 List        object
City                             object
State                            object
Latitude                        float64
Longitude                       float64
dtype: object

### Generate a basic set of descriptive statistics for the numeric fields in the data set.

In [4]:
isNumeric = df.select_dtypes(include=['float'])
print(isNumeric)
stats = isNumeric.describe()
print(stats)

      Latitude   Longitude
0    36.372854  -94.208817
1    32.814018  -96.948894
2    41.256537  -95.934503
3    37.322998 -122.032182
4    44.921184  -93.468749
..         ...         ...
995  34.023243  -84.361556
996  42.548171  -71.172447
997  33.684567 -117.826505
998  33.596891 -117.658156
999  33.684567 -117.826505

[1000 rows x 2 columns]
          Latitude    Longitude
count  1000.000000  1000.000000
mean     38.228050   -90.359700
std       4.643421    16.145941
min      18.422578  -157.858333
25%      35.207699   -96.698886
50%      39.693419   -86.583760
75%      41.499320   -77.177260
max      47.978985   -66.050955

### Calculate the following for each numeric field in the data set and add them to the data frame containing the basic set of descriptive statistics.

- Variance
- Mean Absolute Deviation
- Range
- Interquartile Range

In [5]:
new_stats = pd.DataFrame({'Latitude': [statistics.variance(isNumeric['Latitude'])],
                          'Longitude': [statistics.variance(isNumeric['Longitude'])]})
new_stats.rename(index={0:'var'},inplace=True)
stats = stats.append(new_stats)

mad = stats.mad()
new_stats = pd.DataFrame({'Latitude': [mad['Latitude']],
                          'Longitude': [mad['Longitude']]
                         })
new_stats.rename(index={0:'mad'},inplace=True)
stats = stats.append(new_stats)

maximum = isNumeric.max()
minimum = isNumeric.min()
new_stats = pd.DataFrame({'Latitude': [maximum['Latitude'] - minimum['Latitude']],
                          'Longitude': [maximum['Longitude'] - minimum['Longitude']]
                         })
new_stats.rename(index={0:'range'},inplace=True)
stats = stats.append(new_stats)

q1 = df.quantile(.25)
print(q1)
q3 = df.quantile(.75)
print(q3)
# mask = d['col'].between(q1, q2, inclusive=True)
# iqr = d.loc[mask, 'col']

print(stats)

rank         250.750000
Latitude      35.207699
Longitude    -96.698886
Name: 0.25, dtype: float64
rank         750.25000
Latitude      41.49932
Longitude    -77.17726
Name: 0.75, dtype: float64
          Latitude    Longitude
count  1000.000000  1000.000000
mean     38.228050   -90.359700
std       4.643421    16.145941
min      18.422578  -157.858333
25%      35.207699   -96.698886
50%      39.693419   -86.583760
75%      41.499320   -77.177260
max      47.978985   -66.050955
var      21.561356   260.691395
mad     191.426301   245.481622
range    29.556407    91.807378

### Generate a basic set of descriptive statistics for the categorical fields in the data set.

### Calculate the Pearson correlation coefficients between Revenue, Profit, Assets, and Employees.

### Group the data by sector and calculate the mean and standard deviation of revenue for each sector.

### Create a new financial strength index variable that combines the revenue, profit, and assets variables into a single value for each company. Then sort the data frame by that value to see who has the most financial strength. 

Try different ways of calculating the index and see how your results change.

### Group the data by sector and calculate the average financial strength index for each sector.