## Big Data Day 2 Afternoon Assignment

In this assignment, we will learn about machine learning with Dask. We will use the market basket dataset loaded below and cluster our data.

In [1]:
# !pip install distributed>=2.4.0 --quiet

# !pip install dask-ml --quiet
# !pip install -U ipykernel --quiet

In [2]:
import dask.dataframe as dd
import numpy as np
import pandas as pd

In [3]:
market_basket = dd.read_csv('../data/Mall_Customers.csv')

In [4]:
market_basket.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

To cluster our data, we must first examine and process it. The first step is to check for missing data. Do this in the cell below. If there is missing data, drop all rows containing missing data.

In [5]:
# Answer below:
market_basket.compute().isna().mean()

CustomerID                0.0
Gender                    0.0
Age                       0.0
Annual Income (k$)        0.0
Spending Score (1-100)    0.0
dtype: float64

Next, we will get rid of the customer ID column. Drop the column and assign the resulting dataframe to a new variable.

In [6]:
# Answer below:
market_new = market_basket.drop(columns='CustomerID')
market_new.compute()

     Gender  Age  Annual Income (k$)  Spending Score (1-100)
0      Male   19                  15                      39
1      Male   21                  15                      81
2    Female   20                  16                       6
3    Female   23                  16                      77
4    Female   31                  17                      40
..      ...  ...                 ...                     ...
195  Female   35                 120                      79
196  Female   45                 126                      28
197    Male   32                 126                      74
198    Male   32                 137                      18
199    Male   30                 137                      83

[200 rows x 4 columns]

We will now create a dummy variable from the gender variable.

In [7]:
# Answer below:
market_dum = pd.get_dummies(market_new['Gender'])
market_dum

     Female  Male
0         0     1
1         0     1
2         1     0
3         1     0
4         1     0
..      ...   ...
195       1     0
196       1     0
197       0     1
198       0     1
199       0     1

[200 rows x 2 columns]

In [8]:
market_new = pd.concat([market_new.compute(), market_dum], axis=1)

In [9]:
market_new = market_new.drop(columns='Gender')
market_new

     Age  Annual Income (k$)  Spending Score (1-100)  Female  Male
0     19                  15                      39       0     1
1     21                  15                      81       0     1
2     20                  16                       6       1     0
3     23                  16                      77       1     0
4     31                  17                      40       1     0
..   ...                 ...                     ...     ...   ...
195   35                 120                      79       1     0
196   45                 126                      28       1     0
197   32                 126                      74       0     1
198   32                 137                      18       0     1
199   30                 137                      83       0     1

[200 rows x 5 columns]

Since the data has different scales, we will scale all columns using min max scaling. We will write our own min max scaling function since the minmax scaler will produce numpy arrays instead of dask arrays. Recall that min max scaling requires finding the min and the max. We subtract the min from each observation and divide by the difference between the max and the min. Complete the function below.

In [10]:
# Answer below:
from sklearn.preprocessing import MinMaxScaler

def dask_min_max(df):
    #Input: dask column
    
    #Output: dask column that has been min max scaled
    scaler = MinMaxScaler()
    df_scaled = scaler.fit_transform(df)
    
    return df_scaled

Transform all columns using the scaler you wrote above.

In [11]:
# Answer below:
market_scaled = dask_min_max(market_new)
market_scaled

array([[0.01923077, 0.        , 0.3877551 , 0.        , 1.        ],
       [0.05769231, 0.        , 0.81632653, 0.        , 1.        ],
       [0.03846154, 0.00819672, 0.05102041, 1.        , 0.        ],
       [0.09615385, 0.00819672, 0.7755102 , 1.        , 0.        ],
       [0.25      , 0.01639344, 0.39795918, 1.        , 0.        ],
       [0.07692308, 0.01639344, 0.76530612, 1.        , 0.        ],
       [0.32692308, 0.02459016, 0.05102041, 1.        , 0.        ],
       [0.09615385, 0.02459016, 0.94897959, 1.        , 0.        ],
       [0.88461538, 0.03278689, 0.02040816, 0.        , 1.        ],
       [0.23076923, 0.03278689, 0.7244898 , 1.        , 0.        ],
       [0.94230769, 0.03278689, 0.13265306, 0.        , 1.        ],
       [0.32692308, 0.03278689, 1.        , 1.        , 0.        ],
       [0.76923077, 0.04098361, 0.14285714, 1.        , 0.        ],
       [0.11538462, 0.04098361, 0.7755102 , 1.        , 0.        ],
       [0.36538462, 0.04098361, 0.12244898, 0.        , 1.        ],
       [0.07692308, 0.04098361, 0.79591837, 0.        , 1.        ],
       [0.32692308, 0.04918033, 0.34693878, 1.        , 0.        ],
       [0.03846154, 0.04918033, 0.66326531, 0.        , 1.        ],
       [0.65384615, 0.06557377, 0.28571429, 0.        , 1.        ],
       [0.32692308, 0.06557377, 0.98979592, 1.        , 0.        ],
       [0.32692308, 0.07377049, 0.34693878, 0.        , 1.        ],
       [0.13461538, 0.07377049, 0.73469388, 0.        , 1.        ],
       [0.53846154, 0.08196721, 0.04081633, 1.        , 0.        ],
       [0.25      , 0.08196721, 0.73469388, 0.        , 1.        ],
       [0.69230769, 0.10655738, 0.13265306, 1.        , 0.        ],
       [0.21153846, 0.10655738, 0.82653061, 0.        , 1.        ],
       [0.51923077, 0.10655738, 0.31632653, 1.        , 0.        ],
       [0.32692308, 0.10655738, 0.6122449 , 0.        , 1.        ],
       [0.42307692, 0.1147541 , 0.30612245, 1.        , 0.        ],
       [0.09615385, 0.1147541 , 0.87755102, 1.        , 0.        ],
       [0.80769231, 0.12295082, 0.03061224, 0.        , 1.        ],
       [0.05769231, 0.12295082, 0.73469388, 1.        , 0.        ],
       [0.67307692, 0.14754098, 0.03061224, 0.        , 1.        ],
       [0.        , 0.14754098, 0.92857143, 0.        , 1.        ],
       [0.59615385, 0.14754098, 0.13265306, 1.        , 0.        ],
       [0.05769231, 0.14754098, 0.81632653, 1.        , 0.        ],
       [0.46153846, 0.1557377 , 0.16326531, 1.        , 0.        ],
       [0.23076923, 0.1557377 , 0.73469388, 1.        , 0.        ],
       [0.34615385, 0.18032787, 0.25510204, 1.        , 0.        ],
       [0.03846154, 0.18032787, 0.75510204, 1.        , 0.        ],
       [0.90384615, 0.18852459, 0.34693878, 1.        , 0.        ],
       [0.11538462, 0.18852459, 0.92857143, 0.        , 1.        ],
       [0.57692308, 0.19672131, 0.35714286, 0.        , 1.        ],
       [0.25      , 0.19672131, 0.6122449 , 1.        , 0.        ],
       [0.59615385, 0.19672131, 0.2755102 , 1.        , 0.        ],
       [0.11538462, 0.19672131, 0.65306122, 1.        , 0.        ],
       [0.61538462, 0.20491803, 0.55102041, 1.        , 0.        ],
       [0.17307692, 0.20491803, 0.46938776, 1.        , 0.        ],
       [0.21153846, 0.20491803, 0.41836735, 1.        , 0.        ],
       [0.25      , 0.20491803, 0.41836735, 1.        , 0.        ],
       [0.59615385, 0.22131148, 0.52040816, 1.        , 0.        ],
       [0.28846154, 0.22131148, 0.60204082, 0.        , 1.        ],
       [0.25      , 0.2295082 , 0.54081633, 1.        , 0.        ],
       [0.78846154, 0.2295082 , 0.60204082, 0.        , 1.        ],
       [0.61538462, 0.2295082 , 0.44897959, 1.        , 0.        ],
       [0.55769231, 0.2295082 , 0.40816327, 0.        , 1.        ],
       [0.63461538, 0.23770492, 0.5       , 1.        , 0.        ],
       [0.98076923, 0.23770492, 0.45918367, 0.        , 1.        ],
       [0.17307692, 0.25409836, 0.51020408, 1.        , 0.        ],
       [0.67307692, 0.25409836, 0.45918367, 0.        , 1.        ],
       [1.        , 0.25409836, 0.56122449, 0.        , 1.        ],
       [0.01923077, 0.25409836, 0.55102041, 0.        , 1.        ],
       [0.94230769, 0.26229508, 0.52040816, 1.        , 0.        ],
       [0.69230769, 0.26229508, 0.59183673, 1.        , 0.        ],
       [0.86538462, 0.2704918 , 0.51020408, 0.        , 1.        ],
       [0.        , 0.2704918 , 0.59183673, 0.        , 1.        ],
       [0.48076923, 0.2704918 , 0.5       , 1.        , 0.        ],
       [0.96153846, 0.2704918 , 0.47959184, 1.        , 0.        ],
       [0.01923077, 0.2704918 , 0.59183673, 0.        , 1.        ],
       [0.26923077, 0.2704918 , 0.46938776, 1.        , 0.        ],
       [1.        , 0.27868852, 0.55102041, 0.        , 1.        ],
       [0.55769231, 0.27868852, 0.41836735, 1.        , 0.        ],
       [0.80769231, 0.28688525, 0.48979592, 1.        , 0.        ],
       [0.80769231, 0.28688525, 0.56122449, 1.        , 0.        ],
       [0.78846154, 0.31967213, 0.46938776, 0.        , 1.        ],
       [0.15384615, 0.31967213, 0.54081633, 0.        , 1.        ],
       [0.51923077, 0.31967213, 0.53061224, 1.        , 0.        ],
       [0.42307692, 0.31967213, 0.47959184, 0.        , 1.        ],
       [0.09615385, 0.31967213, 0.52040816, 1.        , 0.        ],
       [0.59615385, 0.31967213, 0.41836735, 1.        , 0.        ],
       [0.75      , 0.31967213, 0.51020408, 0.        , 1.        ],
       [0.38461538, 0.31967213, 0.55102041, 0.        , 1.        ],
       [0.94230769, 0.31967213, 0.40816327, 0.        , 1.        ],
       [0.53846154, 0.31967213, 0.43877551, 1.        , 0.        ],
       [0.05769231, 0.31967213, 0.57142857, 1.        , 0.        ],
       [0.57692308, 0.31967213, 0.45918367, 0.        , 1.        ],
       [0.71153846, 0.3442623 , 0.58163265, 1.        , 0.        ],
       [0.07692308, 0.3442623 , 0.55102041, 1.        , 0.        ],
       [0.30769231, 0.35245902, 0.60204082, 1.        , 0.        ],
       [0.61538462, 0.35245902, 0.45918367, 1.        , 0.        ],
       [0.96153846, 0.36065574, 0.55102041, 1.        , 0.        ],
       [0.        , 0.36065574, 0.40816327, 0.        , 1.        ],
       [0.57692308, 0.36885246, 0.48979592, 0.        , 1.        ],
       [0.42307692, 0.36885246, 0.39795918, 1.        , 0.        ],
       [0.26923077, 0.36885246, 0.41836735, 1.        , 0.        ],
       [0.11538462, 0.36885246, 0.52040816, 0.        , 1.        ],
       [0.55769231, 0.36885246, 0.46938776, 1.        , 0.        ],
       [0.17307692, 0.36885246, 0.5       , 1.        , 0.        ],
       [0.57692308, 0.37704918, 0.41836735, 0.        , 1.        ],
       [0.03846154, 0.37704918, 0.48979592, 0.        , 1.        ],
       [0.09615385, 0.3852459 , 0.40816327, 1.        , 0.        ],
       [0.59615385, 0.3852459 , 0.47959184, 1.        , 0.        ],
       [0.94230769, 0.3852459 , 0.59183673, 0.        , 1.        ],
       [0.15384615, 0.3852459 , 0.55102041, 0.        , 1.        ],
       [0.59615385, 0.3852459 , 0.56122449, 0.        , 1.        ],
       [0.05769231, 0.3852459 , 0.41836735, 1.        , 0.        ],
       [0.92307692, 0.39344262, 0.5       , 1.        , 0.        ],
       [0.69230769, 0.39344262, 0.45918367, 0.        , 1.        ],
       [0.96153846, 0.39344262, 0.42857143, 0.        , 1.        ],
       [0.92307692, 0.39344262, 0.47959184, 0.        , 1.        ],
       [0.90384615, 0.39344262, 0.52040816, 0.        , 1.        ],
       [0.01923077, 0.39344262, 0.54081633, 1.        , 0.        ],
       [0.38461538, 0.40163934, 0.41836735, 1.        , 0.        ],
       [0.01923077, 0.40163934, 0.45918367, 0.        , 1.        ],
       [0.        , 0.40983607, 0.47959184, 1.        , 0.        ],
       [0.01923077, 0.40983607, 0.5       , 1.        , 0.        ],
       [0.86538462, 0.40983607, 0.42857143, 1.        , 0.        ],
       [0.59615385, 0.40983607, 0.59183673, 1.        , 0.        ],
       [0.63461538, 0.42622951, 0.42857143, 1.        , 0.        ],
       [0.61538462, 0.42622951, 0.57142857, 1.        , 0.        ],
       [0.17307692, 0.42622951, 0.56122449, 0.        , 1.        ],
       [0.38461538, 0.42622951, 0.39795918, 1.        , 0.        ],
       [0.42307692, 0.44262295, 0.58163265, 1.        , 0.        ],
       [0.40384615, 0.44262295, 0.91836735, 0.        , 1.        ],
       [0.09615385, 0.45081967, 0.28571429, 1.        , 0.        ],
       [0.25      , 0.45081967, 0.7755102 , 1.        , 0.        ],
       [0.48076923, 0.45901639, 0.34693878, 0.        , 1.        ],
       [0.42307692, 0.45901639, 0.95918367, 0.        , 1.        ],
       [0.78846154, 0.45901639, 0.10204082, 0.        , 1.        ],
       [0.38461538, 0.45901639, 0.75510204, 0.        , 1.        ],
       [0.55769231, 0.45901639, 0.08163265, 0.        , 1.        ],
       [0.40384615, 0.45901639, 0.75510204, 0.        , 1.        ],
       [0.13461538, 0.46721311, 0.33673469, 1.        , 0.        ],
       [0.25      , 0.46721311, 0.71428571, 1.        , 0.        ],
       [0.03846154, 0.47540984, 0.04081633, 0.        , 1.        ],
       [0.21153846, 0.47540984, 0.8877551 , 1.        , 0.        ],
       [0.5       , 0.47540984, 0.06122449, 1.        , 0.        ],
       [0.26923077, 0.47540984, 0.73469388, 0.        , 1.        ],
       [0.01923077, 0.48360656, 0.09183673, 0.        , 1.        ],
       [0.32692308, 0.48360656, 0.7244898 , 1.        , 0.        ],
       [0.75      , 0.49180328, 0.04081633, 1.        , 0.        ],
       [0.26923077, 0.49180328, 0.93877551, 0.        , 1.        ],
       [0.19230769, 0.5       , 0.39795918, 1.        , 0.        ],
       [0.26923077, 0.5       , 0.87755102, 1.        , 0.        ],
       [0.13461538, 0.50819672, 0.1122449 , 0.        , 1.        ],
       [0.19230769, 0.50819672, 0.97959184, 0.        , 1.        ],
       [0.57692308, 0.50819672, 0.35714286, 0.        , 1.        ],
       [0.26923077, 0.50819672, 0.74489796, 1.        , 0.        ],
       [0.30769231, 0.51639344, 0.21428571, 1.        , 0.        ],
       [0.30769231, 0.51639344, 0.90816327, 0.        , 1.        ],
       [0.48076923, 0.51639344, 0.16326531, 0.        , 1.        ],
       [0.40384615, 0.51639344, 0.8877551 , 0.        , 1.        ],
       [0.5       , 0.51639344, 0.19387755, 1.        , 0.        ],
       [0.38461538, 0.51639344, 0.76530612, 1.        , 0.        ],
       [0.55769231, 0.51639344, 0.15306122, 1.        , 0.        ],
       [0.17307692, 0.51639344, 0.89795918, 1.        , 0.        ],
       [0.36538462, 0.51639344, 0.        , 0.        , 1.        ],
       [0.23076923, 0.51639344, 0.78571429, 1.        , 0.        ],
       [0.30769231, 0.51639344, 0.        , 0.        , 1.        ],
       [0.23076923, 0.51639344, 0.73469388, 1.        , 0.        ],
       [0.73076923, 0.52459016, 0.34693878, 1.        , 0.        ],
       [0.21153846, 0.52459016, 0.83673469, 1.        , 0.        ],
       [0.01923077, 0.54098361, 0.04081633, 0.        , 1.        ],
       [0.25      , 0.54098361, 0.93877551, 1.        , 0.        ],
       [0.61538462, 0.57377049, 0.25510204, 0.        , 1.        ],
       [0.34615385, 0.57377049, 0.75510204, 1.        , 0.        ],
       [0.46153846, 0.58196721, 0.19387755, 0.        , 1.        ],
       [0.28846154, 0.58196721, 0.95918367, 1.        , 0.        ],
       [0.34615385, 0.59016393, 0.26530612, 1.        , 0.        ],
       [0.26923077, 0.59016393, 0.63265306, 0.        , 1.        ],
       [0.42307692, 0.59016393, 0.12244898, 0.        , 1.        ],
       [0.19230769, 0.59016393, 0.75510204, 0.        , 1.        ],
       [0.34615385, 0.59016393, 0.09183673, 0.        , 1.        ],
       [0.34615385, 0.59016393, 0.92857143, 0.        , 1.        ],
       [0.65384615, 0.59836066, 0.12244898, 1.        , 0.        ],
       [0.23076923, 0.59836066, 0.86734694, 1.        , 0.        ],
       [0.76923077, 0.59836066, 0.14285714, 0.        , 1.        ],
       [0.17307692, 0.59836066, 0.69387755, 0.        , 1.        ],
       [0.78846154, 0.63934426, 0.13265306, 0.        , 1.        ],
       [0.32692308, 0.63934426, 0.90816327, 0.        , 1.        ],
       [0.36538462, 0.67213115, 0.31632653, 1.        , 0.        ],
       [0.26923077, 0.67213115, 0.86734694, 1.        , 0.        ],
       [0.53846154, 0.68032787, 0.14285714, 0.        , 1.        ],
       [0.21153846, 0.68032787, 0.8877551 , 1.        , 0.        ],
       [0.44230769, 0.68852459, 0.3877551 , 1.        , 0.        ],
       [0.23076923, 0.68852459, 0.97959184, 0.        , 1.        ],
       [0.69230769, 0.70491803, 0.23469388, 1.        , 0.        ],
       [0.19230769, 0.70491803, 0.68367347, 0.        , 1.        ],
       [0.44230769, 0.72131148, 0.16326531, 1.        , 0.        ],
       [0.34615385, 0.72131148, 0.85714286, 1.        , 0.        ],
       [0.30769231, 0.72131148, 0.2244898 , 1.        , 0.        ],
       [0.26923077, 0.72131148, 0.69387755, 1.        , 0.        ],
       [0.28846154, 0.80327869, 0.07142857, 0.        , 1.        ],
       [0.38461538, 0.80327869, 0.91836735, 1.        , 0.        ],
       [0.55769231, 0.86065574, 0.15306122, 1.        , 0.        ],
       [0.32692308, 0.86065574, 0.79591837, 1.        , 0.        ],
       [0.51923077, 0.90983607, 0.2755102 , 1.        , 0.        ],
       [0.26923077, 0.90983607, 0.74489796, 0.        , 1.        ],
       [0.26923077, 1.        , 0.17346939, 0.        , 1.        ],
       [0.23076923, 1.        , 0.83673469, 0.        , 1.        ]])

Import the dask clustering function and cluster the data. Use 3 clusters and print the centroids.

In [12]:
# Answer below